@import './_vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-color;
}

.icon {
    fill: $text-color;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

button {
    border: none;

}

.App {
    width: 100%;
    height: 100%;
    background: $primary-background-color;
    background: linear-gradient(315deg, $primary-background-color 0%, $secondary-background-color 100%);

}



.page {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;


        .page-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 50px;
            height: 400px;

            .left-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30%;
                height: 100%;

                .city-name {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    h2 {
                        color: $primary-accent-color;
                        letter-spacing: 1px;
                    }

                    button {
                        background-color: transparent;
                        margin-left: 20px;
                        cursor: pointer;

                        .icon {
                            width: 25px;
                            fill: white;
                            pointer-events: none;
                        }
                    }
                }

                .icon {
                    width: 80px;
                }

                .temperature {
                    h1 {

                        h4 {
                            font-size: 5rem;
                            color: $primary-accent-color;
                            display: inline;
                            margin-right: 20px;
                        }

                        font-size: 10rem;

                        span {
                            font-size: 3rem;
                        }
                    }
                }

                .weather-description {
                    h3 {
                        letter-spacing: 1px;
                    }
                }
            }

            .right-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                justify-content: space-evenly;

                .details-section {
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    align-items: center;
                    height: 100px;


                    .weather-detail {
                        &:first-child {
                            border-right: 1px solid $text-color;
                        }

                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        h4 {
                            font-size: 1.3rem;
                            font-weight: 300;
                            letter-spacing: 1px;
                        }

                        h2 {
                            font-size: 1.8rem;
                            color: $secondary-accent-color;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }

        .filter-weather {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            justify-content: center;

            .hour-weather {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                width: 180px;
                justify-content: space-evenly;
                opacity: 0.4;
                cursor: pointer;
                transition: all 0.2s ease-out;

                .icon {

                    width: 30px;
                }

                .temperature {
                    h2 {
                        font-size: 2.2rem;
                    }
                }

                .hour {
                    h4 {
                        color: $secondary-accent-color;

                    }
                }

                &:not(:last-child) {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 25%;
                        width: 1px;
                        height: 50%;
                        background-color: $text-color;

                    }
                }

                &.active {
                    opacity: 1;
                    justify-content: space-between;

                    .icon {
                        width: 50px;
                    }

                    .temperature {
                        h2 {
                            font-size: 2.4rem;
                        }
                    }

                    .hour {
                        h4 {
                            color: $secondary-accent-color;
                            font-size: 1.2rem;
                        }
                    }

                    &::after {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}