@import './_vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-color;
}

.icon {
    fill: $text-color;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

button {
    border: none;

}

.App {
    width: 100%;
    height: 100%;
    background: $primary-background-color;
    background: linear-gradient(315deg, $primary-background-color 0%, $secondary-background-color 100%);

}



.page {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        height: calc(100vh - 200px);
        max-height: 800px;
        justify-content: space-between;


        .page-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 50px;
            height: 400px;

            .left-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                height: 100%;

                .city-name {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    h2 {
                        color: $primary-accent-color;
                        letter-spacing: 1px;
                    }

                    button {
                        background-color: transparent;
                        margin-left: 20px;
                        cursor: pointer;

                        .icon {
                            width: 25px;
                            fill: white;
                            pointer-events: none;
                        }
                    }
                }

                .weather-icon {
                    height: 80px;
                    width: 80px;
                }

                .temperature {

                    h4 {
                        font-size: 5rem;
                        color: $primary-accent-color;
                        display: inline;
                        margin-right: 20px;
                    }

                    h1 {
                        font-size: 10rem;
                        display: inline;

                        span {
                            font-size: 3rem;
                        }
                    }
                }

                .weather-description {
                    h3 {
                        letter-spacing: 1px;
                    }
                }
            }

            .right-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                justify-content: space-evenly;
                background-color: $primary-background-color;
                border-radius: 30px;

                .details-section {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    height: 100px;


                    .weather-detail {
                        &:first-child {
                            border-right: 1px solid $text-color;
                        }

                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        h4 {
                            font-size: 1.3rem;
                            font-weight: 300;
                            letter-spacing: 1px;
                        }

                        h2 {
                            font-size: 2rem;
                            color: $secondary-accent-color;
                            letter-spacing: 1px;
                            display: inline;


                        }

                        h6 {
                            color: $secondary-accent-color;
                            display: inline;
                            margin-right: 10px;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        .filter-weather {
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            justify-content: space-between;
            background-color: $primary-background-color;
            border-radius: 20px;

            .filter-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                width: 100%;
                justify-content: space-evenly;
                opacity: 0.4;
                cursor: pointer;
                transition: all 0.2s ease-out;
                border-radius: 20px;

                .icon {

                    width: 30px;
                }

                .temperature {
                    h2 {
                        font-size: 2.2rem;
                        display: inline;
                    }

                    h6 {
                        font-size: 1.5rem;
                        display: inline;
                        margin-right: 10px;
                    }
                }

                .hour,
                .day {
                    h4 {
                        color: $secondary-accent-color;
                    }
                }


                &.active {
                    opacity: 1;
                    background-color: lighten($secondary-background-color, 20);

                    .icon {
                        width: 50px;
                        fill: $primary-background-color
                    }

                    .temperature {
                        h2 {
                            font-size: 2.4rem;
                            color: $primary-background-color
                        }

                        h6 {
                            color: $primary-background-color
                        }
                    }

                    .hour,
                    .day {
                        h4 {
                            font-size: 1.2rem;
                        }
                    }


                }
            }


        }
    }
}


@media screen and (max-width: 1024px){
    .page {
        .container {
            margin-top: 50px;
            height: auto;
            max-height: fit-content;
    
            .page-details {
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: auto;
    
                .left-section {
                    width: auto;
                    height: 320px;
                    align-items: center;

              
                    .temperature {
    
                        h4 {
                            font-size: 3rem;
                            margin-right: 10px;
                        }
    
                        h1 {
                            font-size: 5rem;
    
                            span {
                                font-size: 2rem;
                            }
                        }
                    }
    
                }
    
                .right-section {
                    gap: 30px;                    
                    padding: 20px;
                }
            }
    
            .filter-weather {
    
                .filter-item {
                   
                    .icon {

                        width: 25px;
                    }
    
                    .temperature {
                        h2 {
                            font-size: 1.5rem;
                        }
    
                        h6 {
                            font-size: 1.2rem;
                            margin-right: 8px;
                        }
                    }
    
    
                    &.active {
    
                        .temperature {
                            h2 {
                                font-size: 2rem;
                            }
    
                        }
    
                    }
                }
    
    
            }
        }
    }
}